---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.page__content {
    position: relative;
    font-size: 18px;
    font-family: "Lora", serif;
    color: #515151;
}

.greedy-nav a {
    color: grey;
}

.masthead__menu-item {
    color: grey;
}